@media screen and (max-width: 1240px) {
  #bottom--nav {
    display: none;
  }
  // }

  // @media screen and (max-width: 940px) {
  // #header--img {
  // }

  header {
    #header--text {
      margin-bottom: 8em;
    }
    .header--logo--alt {
      position: absolute;
      left: unset;
      right: 0em;
      top: 1em;
      width: 9em;
    }

    .header--icons {
      @include svg--a(0.5rem 1rem, 3rem, $hlColor-1_1, $hlColor-1_2);
      flex-direction: row;

      flex-wrap: wrap;
      top: unset;
      bottom: 190px;
      left: 0;
      justify-content: center;

      margin: 1em auto;
    }

    .rr--logo {
      bottom: 6.8rem;
      right: 0;
      left: 0;
      margin-right: auto;
      margin-left: auto;
    }
  }
  .agents {
    flex-wrap: wrap;
    .bio {
      width: 300px;
      height: 800px;
      padding: 1em;
    }
  }

  #IDX--section {
    .content {
      margin: 0;
    }
  }
}

@media screen and (max-width: 890px) {
  header {
    #header--title {
      font-size: 5em;
    }
    #header--img {
      width: 12em;
    }
  }

  #about--section .agents {
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1em 0;

    .agent {
      margin: 1em auto;
      h3 {
        margin: 0;
        padding: 0.5em;
      }
      img {
        width: 30vw;
      }
      address {
        font-size: 1em;
      }
      .bio {
        width: 300px;
        height: 400px;
        padding: 1em;
      }
    }
  }
}

@media screen and (max-width: 666px) {
  h1 {
    font-size: 1em;
  }

  #upper--nav {
    #upper--nav--phones {
      flex-direction: column;
      padding-top: 5px;
      top: -5px;
    }

    em {
      margin: auto auto auto 0;
    }
  }

  #top--nav {
    top: 65px;
    padding-top: 20px;

    .ddm {
      display: none;
    }
  }

  #welcome--section .content .welcome--container {
    width: 90%;
  }
  #about--section .agents .agent {
    img {
      width: 50vw;
    }
    .bio {
      width: 90%;
    }
  }

  // .why--us--box--h3 {
  //   font-size: 1em;
  // }

  footer {
    h2 {
      margin: -1em auto 0em;
      .footer__flex {
        .footer__addresses {
          .footer--card {
            background: red;
          }
        }
      }
    }
  }
  .footer--card {
    padding: 0;
  }
}
