@media (max-width: 1230px) {
  .header--disp--ptn {
    grid-template-columns: 20% auto auto 20%;
  }
}

@media (max-width: 1000px) {
  .header--disp--ptn {
    grid-template-columns: 10% auto auto 10%;
  }
}

@media (max-width: 830px) {
  #header--img {
    display: none;
  }
}