@media screen and (max-width: 1240px) {
  #bottom--nav {
    display: none;
  }
}

@media screen and (max-width: 940px) {
  #header--img {
    display: none;
  }

  header {
    .rr--logo {
      bottom: 6.8rem;
      right: 0;
      left: 0;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

@media screen and (max-width: 890px) {
  .agents {
    flex-wrap: wrap;
  }


}

@media screen and (max-width: 666px) {
  #upper--nav {
    #upper--nav--phones {
      flex-direction: column;
    }

    em {
      margin: auto auto auto 0;
    }
  }

  #top--nav {
    top: 70px;

    .ddm {
      display: none;
    }
  }

  footer {
    h2 {
      margin: -1em auto 0em;

    }

    .footer--gkg--sm {
      &::after {
        // max-width: 100%;
      }
    }
  }

}