@mixin svg--a($margin, $fontSize, $color-1, $color-2) {
  a:link,
  a:visited {
    margin: $margin;
    font-size: $fontSize;
    color: $color-1;
  }
  a:hover,
  a:active,
  a:focus {
    outline: none;
    color: $color-2;
  }
}

@mixin anchor($color-1, $color-2) {
  a:link,
  a:visited {
    position: relative;
    text-decoration: none;
    color: $color-1;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      background: currentColor;
      transform: scaleX(0);
      left: 0;
      bottom: -8px;
      width: 100%;
      height: 2px;
      transform-origin: right;
      transition: transform 250ms ease-in;
    }
  }

  a:hover,
  a:active,
  a:focus {
    outline: none;
    color: $color-2;
    &::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}

@mixin blog--anchor {
  a:link,
  a:visited {
    position: relative;
    text-decoration: none;
    z-index: 1;
    width: 90%;
    height: 90%;
  }

  a:hover,
  a:active,
  a:focus {
    .blog--p {
      padding: 1.2rem 1.2rem 1.2rem 220px;
      box-shadow: 0px 20px 20px -10px black;
    }
    // background: rgba(0, 0, 0, 1), $cSand-3;
    outline: none;
    position: relative;
    // transform: scaleX(1);
    // transform: scaleY(1);
    width: 95%;
    height: 95%;
  }
}

@mixin ds {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}
