@mixin svg--a($margin, $fontSize) {
  a:link,
  a:visited {
    margin: $margin;
    font-size: $fontSize;
    color: $cCafe-5;
  }
  a:hover,
  a:active,
  a:focus {
    outline: none;
    color: $cWhiteD-2;
  }
}

@mixin anchor {
  a:link,
  a:visited {
    position: relative;
    text-decoration: none;
    color: $cWhiteD-2;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      background: currentColor;
      transform: scaleX(0);
      left: 0;
      bottom: -8px;
      width: 100%;
      transform-origin: right;
      height: 2px;
      transition: transform 250ms ease-in;
    }
  }
  a:hover,
  a:active,
  a:focus {
    outline: none;
    color: $cCamel-4;
    &::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}

@mixin anchor--alt {
  a:link,
  a:visited {
    // .blog--title {

    // }
    // .blog--p {

    // }
    position: relative;
    text-decoration: none;
    z-index: 1;
    // transform: scaleX(0.9);
    // transform: scaleY(0.9);
    width: 90%;
    height: 90%;
  }
  a:hover,
  a:active,
  a:focus {
    .blog--title {
      padding: 1rem;
      font-size: 2.5rem;
    }
    .blog--p {
      padding: 1.2rem 1.2rem 1.2rem 220px;
      border: 6px solid $cCafe-5;
    }
    .blog--img {
      border: 6px solid $cCafe-5;
    }
    // background: rgba(0, 0, 0, 1), $cSand-3;
    // box-shadow: 0 0 20px 5px rgba(0, 0, 0, 1);
    outline: none;
    // transform: scaleX(1);
    // transform: scaleY(1);
    width: 95%;
    height: 95%;
  }
}

@mixin ds {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}
