$cEgg-1: #f1ead4;
$cWhiteD-2: #eee6c6;
$cSand-3: #d0baa7;
$cCamel-4: #c3a082;
$cCafe-5: #a67a62;
$cBrown-6: #9d6541;
$cChestnut-7: #864f39;
$cUmber-8: #5a473c;
$cBlue: #2a283f;

@font-face {
  font-family: forum;
  src: url("../../Fonts/Forum.otf");
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}
