$cEgg-1: #f1ead4;
$cWhiteD-2: #eee6c6;
$cSand-3: #d0baa7;
$cCamel-4: #c3a082;
$cCafe-5: #a67a62;
$cBrown-6: #9d6541;
$cChestnut-7: #864f39;
$cUmber-8: #5a473c;

$cBlue: #2a283f;

$colorBg-1: #2a283f;
$colorBg-2: #d0baa7;

$color-h: #a67a62;

$colorText-1: #f1ead4;
$colorText-2: #2a283f;

$hlColor-1_2: #926c4b;
$hlColor-1_1: #eee6c6;

$hlColor-1_1: #c3a082;
$hlColor-1_2: #eee6c6;

$hlColor-2_1: #864f39ff;
$hlColor-2_2: #a67a62ff;

@font-face {
  font-family: forum;
  src: url("../../Fonts/Forum.otf");
}
