html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: $cBlue;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(6, max-content);
  grid-template-areas: "upper--nav"
    "header"
    "top--nav"
    "main"
    "bottom--nav"
    "footer";

  #upper--nav {
    grid-area: upper--nav;
  }


  header {
    grid-area: header;
  }

  #top--nav {
    grid-area: top--nav;
  }

  main {
    grid-area: main;
  }

  #bottom--nav {
    grid-area: bottom--nav;
  }

  footer {
    grid-area: footer;
    grid-row: -1;
  }
}

// body::-webkit-scrollbar {
//   width: 300px;
// }

// body::-webkit-scrollbar-track {
//   background: red;
// }

// body::-webkit-scrollbar-thumb {
//   background: yellow;
// }

main {
  max-width: 80vw;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $cCafe-5;
  font-family: forum;
  font-weight: 1000;

  &::selection {
    color: $cEgg-1;
    background: $cCafe-5;
  }
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 5rem;
  padding-top: 2em;
  text-align: center;

}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}


.egg--p {
  color: $cEgg-1;
}

.text--shadow {
  text-shadow: 0 0, 5px 5px rgba(0, 0, 0, 0.5), 0 0, 0 0;
}

.title--a {
  text-decoration: none;
}