.header--buy {
  background: url("../../Images/buy--bg.jpeg");

  &::before,
  &::after {
    content: "";
    background: rgba(0, 0, 0, 0.74);
    background-size: cover;
  }
}

#IDX--section {
  .section--title {
    padding-top: 1em;
  }

  p {
    font-size: 1.5em;
    color: $colorText-1;
    text-justify: center;
  }

  .mls--search {
    display: flex;
    justify-content: center;
    align-self: center;
  }
}
