// CONTENT RULES
.content {
  grid-column: 2/3;
  justify-items: center;

  h1 {
    text-align: center;
    margin: 2rem auto;
  }

  h2 {
    text-align: center;
    margin: 2rem auto;
  }

  h3 {
    text-align: center;
    margin: 2rem auto;
  }

  p {
    text-align: center;
    padding: 1.5rem;
  }

  .section--title {
    position: relative;
    padding-bottom: 1.5rem;
    box-shadow: 0px 12px 0px -5px currentColor;
    z-index: 1;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 60px;
      left: 0;
      right: 0;
      margin: auto;
    }

    &::before {
      background: $cBlue;
      z-index: -1;
      width: 100px;
      bottom: 0;
    }

    &::after {
      background: currentColor;
      z-index: -2;
      width: 60px;
      bottom: -30px;
      transform: rotate(45deg);
    }
  }
}

// BLOGS
#blogs--section {
  .blog--flex {
    @include blog--anchor;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    align-items: center;
    margin: 2em 2em 0;

    .blog--box {
      position: relative;
      box-sizing: content-box;
      display: grid;
      grid-template-columns: 200px 3fr;
      grid-template-rows: repeat(2, 100px);
      margin: 0.2rem;

      .blog--img {
        position: relative;
        margin: auto;
        border-radius: 10px;
        width: 80%;
        height: 60%;
        object-fit: cover;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
      }

      .blog--title {
        position: absolute;
        display: block;
        font-weight: bolder;
        align-self: center;
        font-size: 2rem;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }

      .blog--p {
        @include card--shadow--small;
        position: absolute;
        align-self: center;
        justify-self: center;
        background: $cSand-3;
        color: $cBlue;
        font-size: 1.3rem;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        margin-top: 0;
        padding: 1rem;
        padding-left: 220px;
        border-radius: 20px;
        z-index: -1;
      }
    }
  }
}

// AGENTS 
#about--section {
  background: $cBlue;

  .agents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1.5rem;
    position: relative;
    z-index: 1;

    h2 {
      text-align: center;
      margin-top: 1rem;
    }

    img {
      margin: 2rem 0;
      background: white;
      border-radius: 15px;
    }

    address {
      @include anchor();
      background: $cBlue;
      color: $cCamel-4;
      line-height: 2rem;
      padding-bottom: 1.5em;
    }

    .bio {
      @include card--shadow--medium;
      position: absolute;
      width: 400px;
      height: 360px;
      z-index: -2;
      border-radius: 20px;
      background: $cSand-3;
    }

    p {
      border-radius: 20px;
      box-sizing: border-box;
      word-wrap: break-word;
      width: 400px;
      height: 300px;
      position: sticky;
      font-style: italic;
      z-index: -1;
      top: 0px;
      left: 0;
      right: 0;
      bottom: 0;
      color: $cBlue;
      padding: auto;

      // &::before,
      // &::after {
      //   position: relative;
      //   font-size: 2.5em;
      //   color: rgba(0, 0, 0, 0.6);
      //   z-index: -1;
      // }

      // &::before {
      //   content: open-quote;
      //   top: 0.2em;
      //   left: 0.5em;
      // }

      // &::after {
      //   content: close-quote;
      //   bottom: -0.3em;
      //   right: 1em;
      // }
    }
  }
}

// WHY US
#why--us--section {
  .why--us {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1rem;

    .why--us--box {
      .why--us--box--h3 {
        font-size: 3rem;
        top: 0;
        height: fit-content;
        margin: 1rem;
      }

      .why--us--box--p {
        @include card--shadow--small;
        color: $cBlue;
        background: $cSand-3;
        border-radius: 10px;
        padding: 0em;
        margin: 1em;

        p {
          margin: 0;
          font-size: 1.5rem;
        }
      }
    }
  }
}

// CONTACT US FORM
#contact--form--section {
  p {
    font-size: 2rem;
    margin: 2em auto 1em;
  }

  form {
    @include card--shadow--large;
    display: grid;
    grid-template-rows: repeat(3, fit-content);
    border-radius: 10px;
    background: $cSand-3;
    color: $cBlue;
    margin: 3rem 0;
    padding: .5em 1rem;
    font-size: 1.5rem;
    font-weight: bold;

    // FORM HEADER
    .form--header {
      grid-column: 1/-1;
      grid-row: 1/2;
      justify-items: center;
      align-items: center;
      padding: 1rem;
      color: $cBlue;

      p {
        width: 100%;
        color: $cBlue;
        font-size: 2rem;
      }

      svg {
        margin: 0.5rem;
        font-size: 3rem;
        color: $cBlue;
      }
    }

    // FORM DATA 
    .form--data {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .form--col {
        justify-content: flex-start;
        width: 260px;
        margin: 0.5rem;

        textarea {
          box-sizing: border-box;
          border-radius: 10px;
          padding: 0.5rem;
        }

        .form--time--option {
          font-weight: lighter;
          font-size: large;
        }
      }
    }

    // SUBMIT
    #submit {
      width: fit-content;
      padding: 1rem;
      justify-self: center;
      margin-top: 1rem;
    }

    // FORM FOOTER
    .form--footer {
      @extend .form--header;
      grid-column: 1/-1;
      grid-row: 4/5;
      font-style: italic;
      overflow-wrap: break-word;
    }
  }
}