// CONTENT RULES
.content {
  grid-column: 2/3;
  justify-items: center;
  margin: auto;

  p {
    text-align: center;
    padding: 1.5rem;
  }

  .section--title {
    position: relative;
    padding-bottom: 1.5rem;
    margin-right: auto;
    margin-left: auto;

    box-shadow: 0px 12px 0px -5px currentColor;
    z-index: 1;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 60px;
      left: 0;
      right: 0;
      margin: auto;
    }

    &::before {
      background: $cBlue;
      z-index: -1;
      width: 190px;
      bottom: 0px;
    }

    &::after {
      background: currentColor;
      z-index: -2;
      width: 60px;
      bottom: -15px;
      transform: rotate(45deg);
    }
  }
}

// WELCOME
#welcome--section {
  position: relative;

  .content {
    position: relative;
    .section--title {
      padding-top: 1em;
    }

    #welcome--img {
      display: block;
      margin: 1em auto -0.5em;
    }

    p {
      color: $colorText-1;
      font-size: 2.2em;
    }

    .welcome--container {
      @include card--shadow--large();
      background: $cSand-3;
      border-radius: 20px;
      padding: 1em;
      padding-bottom: 3em;
      width: 60%;
      margin: 2em auto;

      p {
        color: $colorText-2;
        font-size: 1.5rem;

        a {
          @include anchor($color-1: $hlColor-2_1, $color-2: $hlColor-2_2);
          padding: 0;
          margin: 0;
          font-size: 1.2em;
          font-weight: 1000;
        }
      }

      .fa-gift {
        color: $cUmber-8;
        font-size: 5em;
        display: flex;
        justify-content: center;
        position: relative;
        right: 0;
        left: 0;
        margin: 0 auto;
      }
    }
  }
}

// AGENTS
#about--section {
  box-sizing: border-box;

  .agents {
    display: flex;
    flex-direction: row;
    gap: 2em;
    // flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1.5rem;
    position: relative;
    z-index: 1;
    margin: 1em auto;

    .agent {
      width: 380px;
      margin: 0 auto;
      img {
        margin: 1.5em 0 0;
        background: white;
        border-radius: 15px;
      }

      address {
        color: $colorText-1;
        line-height: 2rem;
        padding-bottom: 1em;

        a {
          @include anchor();
        }
      }

      .bio--svg {
        display: none;
      }

      .bio {
        @include shadow--container();
        border-radius: 20px;
        width: 300px;
        height: 380px;
        font-style: italic;
        color: $colorText-2;

        display: flex;
        align-items: center;

        box-sizing: border-box;
        z-index: -1;

        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 1em auto;
      }
    }
  }
}

// WHY US
#why--us--section {
  box-sizing: border-box;

  .why--us {
    margin-top: -4em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    grid-gap: 1em;

    .why--us--box {
      display: flex;
      position: relative;

      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: auto;

      .why--us--box--h3 {
        top: 0;
        height: 380px;
        text-align: center;
        font-size: 3em;
        width: 320px;
        height: 200px;
        margin-bottom: 1.2em;
      }

      .why--us--box--p {
        @include shadow--container(
          $width: 400px,
          $height: 150px,
          $border-radius: 10px
        );
        @include card--shadow--small;
        position: relative;
        font-size: 1.5rem;
        color: $colorText-2;
        border-radius: 10px;
        width: 300px;
        display: flex;

        justify-content: center;
        align-items: center;
        align-self: bottom;
      }
    }
  }
}

// CONTACT US FORM
#contact--form--section {
  color: $colorText-1;
  font-size: 2rem;
}

form {
  @include card--shadow--large;
  display: grid;
  grid-template-rows: repeat(3, fit-content);
  border-radius: 10px;
  background: $colorBg-2;
  color: $colorText-2;
  margin: 2em 0 1em;
  padding: 0em 1em 2em;
  font-size: 1.5rem;
  font-weight: bold;

  label {
    cursor: pointer;
  }

  // FORM HEADER
  .form--header {
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-items: center;
    align-items: center;
    padding: 1em;
    color: $colorText-2;
    font-size: 2rem;

    margin: 1em 0 1.2em;

    p {
      width: 100%;
      color: $colorText-2;
      font-size: 1.5rem;
    }
  }

  // FORM DATA
  .form--data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .form--col {
      justify-content: flex-start;
      width: 260px;
      margin: 0.5rem;

      textarea {
        box-sizing: border-box;
        border-radius: 10px;
        padding: 0.5rem;
      }

      .form--time--option {
        font-weight: lighter;
        font-size: large;
      }
    }
  }

  // CAPTCHA

  .g-recaptcha {
    margin: 0.5em auto -1.5em;
  }

  // SUBMIT
  #submit {
    padding: 5% 30%;
    font-size: 1em;
    justify-self: center;
    margin-top: 1.5em;

    background: #5a473c;
    color: #f1ead4;

    font-weight: 500;
    font-size: 1.6em;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 6px -2.5px black;

    &:hover,
    &:active,
    &:focus {
      box-shadow: inset 0px 0px 6px -1px black;
      background: linear-gradient(rgba(0, 0, 0, 0.1)), #5a473c;
      cursor: pointer;
    }

    &:focus {
      outline: 3px dotted #9d6541;
    }
  }

  // FORM FOOTER
  .form--footer {
    @extend .form--header;
    grid-row: 4/5;
    font-style: italic;
    justify-content: center;
    align-content: center;

    p {
      padding: 0;
    }
  }
}

// BLOG
#blogs--section {
  .blog--flex {
    @include blog--anchor;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    align-items: center;
    margin: 2em 2em 0;

    .blog--box {
      position: relative;
      box-sizing: content-box;
      display: grid;
      grid-template-columns: 200px 3fr;
      grid-template-rows: repeat(2, 100px);
      margin: 0.2rem;

      .blog--img {
        position: relative;
        margin: auto;
        border-radius: 10px;
        width: 80%;
        height: 60%;
        object-fit: cover;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        transition: box-shadow 200ms ease-in-out;
      }

      .blog--title {
        position: absolute;
        display: block;
        font-weight: bolder;
        align-self: center;
        font-size: 2rem;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }

      .blog--p {
        @include card--shadow--small;
        position: absolute;
        align-self: center;
        justify-self: center;
        background: $cSand-3;
        color: $cBlue;
        font-size: 1.3rem;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        margin-top: 0;
        padding: 1rem;
        padding-left: 220px;
        border-radius: 20px;
        z-index: -1;

        transition: padding-bottom 150ms ease-in-out,
          box-shadow 150ms ease-in-out;

        &::after {
          content: "Click now to read more...";
          height: 45px;
          width: 126px;
          position: absolute;
          background: $cCamel-4 linear-gradient(rgba(0, 0, 0, 0.1));
          font-size: 1.2rem;
          // font-family: forum;
          font-weight: normal;
          line-height: 0.9em;
          bottom: -60px;
          right: 20px;
          z-index: -1;
          padding: 0.5em 0.5em 0.3em 0.5em;
          box-shadow: -5px 10px 20px -5px rgba(0, 0, 0, 1);
          border-top-right-radius: 0px;
          border-top-left-radius: 0px;
          border-bottom-right-radius: 20px;
          border-bottom-left-radius: 20px;

          transform: scaleY(0);
          transition: transform 350ms ease-out;
          transform-origin: top;
        }
      }
    }
  }
}
