.content {
  grid-column: 2/3;
  justify-items: center;
  h1 {
    text-align: center;
    margin: 2rem auto;
  }
  p {
    text-align: center;
    margin: 1rem 0;
    font-size: 2rem;
  }

  // FORM

  form {
    display: grid;
    margin: 3rem;
    padding: 2rem;
    // grid-template-columns: repeat(3, minmax(fitcontent, 33%));
    grid-template-rows: repeat(3, fitcontent);
    background: $cSand-3;
    font-weight: bold;
    font-size: 1.5rem;
    color: $cBlue;

    .form--text--input {
      position: relative;
      height: 50px;
      width: 100%;
      padding-bottom: 0px;
      padding-top: 20px;
      border: none;
    }
    .form--label--text {
      position: absolute;
      bottom: 0px;
      left: 0;
      height: 100%;
      width: 100%;
    }

    // FORM HEADER
    .form--header {
      grid-column: 1/-1;
      grid-row: 1/2;
      justify-items: center;
      align-items: center;
      padding: 1rem;
      color: $cBlue;
      p {
        width: 100%;
        color: $cBlue;
        font-size: 2rem;
      }
      svg {
        margin: 0.5rem;
        font-size: 3rem;
        color: $cBlue;
      }
    }
    // FORM DATA
    .form--data {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      .form--1col {
        // @extend .form--header;

        grid-row: 2/3;
      }
      .form--2col {
        grid-row: 2/3;
        // @extend .form--2col;
      }
      .form--3col {
        grid-row: 2/3;
        // @extend .form--2col;
      }
    }
    // FORM FOOTER
    .form--footer {
      @extend .form--header;
      grid-column: 1/-1;
      grid-row: 3/4;
      font-style: italic;
      overflow-wrap: break-word;
    }
  }

  // AGENTS

  .agents {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    font-size: 1.5rem;
    @include anchor();
    position .agent {
      position: initial;
    }

    h2 {
      text-align: center;
      margin-bottom: 1rem;
    }
    img {
      background: white;
    }

    address {
      color: $cCamel-4;
      line-height: 2rem;
    }
    .bio {
      width: 321px;
    }
    .bio--m {
      margin-left: 3rem;
    }
  }
}
