.content {
  grid-column: 2/3;
  justify-items: center;
  h1 {
    text-align: center;
    margin: 2rem auto;
  }
  p {
    text-align: center;
    margin: 1rem 0;
    font-size: 2rem;
  }

  // FORM

  form {
    display: grid;
    margin: 3rem;
    padding: 2rem;
    // grid-template-columns: repeat(3, minmax(fitcontent, 33%));
    grid-template-rows: repeat(3, fit-content);
    background: $cSand-3;
    font-weight: bold;
    font-size: 1.5rem;
    color: $cBlue;

    // FORM HEADER
    .form--header {
      grid-column: 1/-1;
      grid-row: 1/2;
      justify-items: center;
      align-items: center;
      padding: 1rem;
      color: $cBlue;
      p {
        width: 100%;
        color: $cBlue;
        font-size: 2rem;
      }
      svg {
        margin: 0.5rem;
        font-size: 3rem;
        color: $cBlue;
      }
    }
    // FORM DATA
    .form--data {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .form--col {
        margin: 1rem;
      }
    }
    // SUBMIT
    #submit {
      width: fit-content;
      padding: 1rem;
      justify-self: center;
    }
    // FORM FOOTER
    .form--footer {
      @extend .form--header;
      grid-column: 1/-1;
      grid-row: 4/5;
      font-style: italic;
      overflow-wrap: break-word;
    }
  }
  .form--time--option {
    font-weight: lighter;
    font-size: large;
  }

  // AGENTS

  .agents {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    font-size: 1.5rem;
    @include anchor();

    position .agent {
      display: flex;
      flex-flow: column;
      text-justify: auto;
      width: 40vw;
    }

    h2 {
      text-align: center;
      margin-bottom: 1rem;
    }
    img {
      background: white;
    }

    address {
      color: $cCamel-4;
      line-height: 2rem;
    }
    .bio {
      width: 321px;
    }
    .bio--m {
      margin-left: 3rem;
    }
  }
}
