footer {
  position: relative;
  background: $cSand-3 linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  box-shadow: inset 0 5px 10px 2px;
  height: fit-content;
  padding-top: 3rem;
  margin-top: 80px;

  .footer__img {
    position: absolute;
    top: 20em;
    left: 4em;
  }

  .footer__gkg {
    position: absolute;
    font-weight: bolder;
    font-size: 6em;
    top: .5em;
    right: 0.5em;
  }

  .footer__grid {
    color: $cBlue;
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 4rem;
      margin: -1em auto 0em auto;
    }

    #footer__addresses {
      margin: 0em auto 2em auto;
      margin-top: 1em;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      font-size: 1rem;
      padding: 0;
    }

    h3 {
      font-size: 2.8rem;
      margin-bottom: .5em;
    }

    p {
      padding: 1em 2.5em;
      line-height: 1.5em;
      margin: 4rem auto 1rem auto;
      text-align: center;
      color: $cBlue;
    }

    address {

      font-size: 1.2em;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 1em;
      padding: 1em 1em 0;
      margin: 1.6em auto 0;
      height: min-content;

      a {
        @include anchor($cBlue, $cWhiteD-2);
        font-weight: bolder;
        padding: 0;
        margin: 0;
      }
    }

    .footer__icons-b {
      @include svg--a(0.5rem, 3.5rem, $cBlue, $cWhiteD-2);
      @include drop--shadow();
      // position: relative;
      color: $cSand-3;
      align-items: center;
      margin: 0em auto;

      &::after {
        content: "";
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
        // width: 30vw;
        height: 1px;
        left: -500px;
        right: -500px;
        margin: -1.5rem auto;
        bottom: -1rem;
      }

      // .fa-facebook-square {
      //   color: #3b5999;
      // }

      // .fa-instagram-square {
      //   color: #e4405f;
      // }

      // .fa-twitter-square {
      //   color: #55acee;
      // }
    }

    .footer__logos-rr-smls {
      padding-bottom: 1rem;
      margin: 0 auto;

      img {
        width: 10em;
        margin: 1em;
      }
    }
  }
}