footer {
  position: relative;
  background: $colorBg-2 linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  box-shadow: inset 0 5px 10px 2px;
  height: fit-content;
  padding-top: 1.5rem;
  margin-top: 200px;

  h2 {
    font-size: 5rem;
    margin: -1em auto 0.5em;
    font-weight: 1000;
    color: $colorText-2;
    letter-spacing: -2px;
    line-height: 0.8em;
  }

  h3 {
    font-size: 2.8rem;
    margin-bottom: -0.2em;
    padding-bottom: 0em;
    font-weight: 1000;
    margin-top: 0;
    position: relative;

    &::after {
      content: "";
      background: currentColor;
      height: 5px;
      position: absolute;
      bottom: -10px;
      left: 0px;
      right: 0px;
    }
  }

  a {
    @include anchor($hlColor-2_1, $hlColor-2_2);
    font-size: 1.2em;
  }

  // .footer__img {
  //   position: absolute;
  //   top: 20em;
  //   left: 4em;
  // }

  // .footer__gkg {
  //   position: absolute;
  //   font-weight: bolder;
  //   font-size: 6em;
  //   top: .5em;
  //   right: 0.5em;
  // }

  .footer__flex {
    color: $colorText-1;
    display: flex;
    flex-direction: column;

    .footer__addresses {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      font-size: 0.88em;
      color: $colorText-1;

      .footer--card {
        @include card--shadow--small();
        box-sizing: border-box;
        background: $colorBg-1 linear-gradient(rgba(0, 0, 0, 0.1));
        padding: 1.8em 1.2em;
        border-radius: 20px;
        width: 380px;
        margin: 2em auto;
      }
    }

    .footer--gkg--sm {
      list-style: none;
      display: flex;
      flex-direction: column;
      margin: 0;
      margin-top: 0.5em;
      padding: 0;

      position: relative;
      color: $colorText-2;
      align-items: center;
      margin: 0em auto;

      li {
        margin-bottom: 1em;
        font-size: 1.5em;
        text-align: center;

        span {
          font-size: 1.6em;
          font-weight: bolder;
        }

        svg {
          font-size: 1.2em;
        }

        &::after {
          content: "";
          position: absolute;
          background: rgba(0, 0, 0, 0.4);
          min-width: 100%;
          max-width: calc(100% + 50px);
          height: 1px;
          left: 0;
          margin: -1.5rem auto;
          bottom: -1rem;
        }
      }
    }

    p {
      padding: 1em 2.5em;
      line-height: 1.5em;
      margin: 4rem auto 1rem auto;
      text-align: center;
      color: $colorText-2;
    }

    address {
      font-size: 1.2em;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 0em;
      padding: 1em 0.2em 0;
      margin: 1em auto 0;
      height: min-content;

      span {
        font-size: 1.2em;
        padding-bottom: 0em;
        margin-bottom: 0.1em;
        margin-top: 0.6em;
        font-weight: bolder;
      }

      a {
        @include anchor($hlColor-1_1, $hlColor-1_2);
        padding-left: 0.2em;
        margin: 0;
      }

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        color: $colorText-1;

        li {
          margin-bottom: 0.5em;

          svg {
            padding-left: 0.5em;
            font-size: 1.2em;
          }
        }
      }
    }

    .footer__logos-rr-smls {
      padding-bottom: 1rem;
      margin: 0 auto;

      img {
        width: 10em;
        margin: 1em;
      }
    }
  }
}
