.header--disp--ptn {
  display: grid;
  position: relative;

  grid-template-columns: repeat(2, auto);
  grid-template-rows: 2rem repeat(3, min-content) 3rem;
  grid-template-areas:
    " ......     ...... "
    " title      img    "
    " slogan     img    "
    " text       text   "
    " ......     ...... ";

  #header--title {
    grid-area: title;
  }

  .slogan {
    grid-area: slogan;
  }

  #header--img {
    grid-area: img;
  }

  #header--text {
    grid-area: text;
  }
}

header {
  position: relative;
  z-index: 3;

  p {
    font-size: 1.5rem;
    color: $colorText-1;
    margin: 0;
  }

  a {
    font-weight: bold;
  }

  #header--title {
    font-size: 6rem;
    margin: 0;
    padding: 1rem;
    margin-left: auto;
    line-height: 0.9em;
  }

  .slogan {
    margin-top: -0.4em;
    padding-left: 3em;
    margin-left: auto;
    font-style: italic;
    font-size: 1.5em;
    font-family: forum;
    font-weight: 1000;
  }

  #header--img {
    margin: auto 1rem -0.02rem 1rem;
    margin-right: auto;
  }

  .header--logo--alt {
    position: relative;
    top: 2em;
    left: 4em;
  }

  #header--text {
    display: block;
    max-width: 480px;
    padding: 2em 3em 2.8em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    text-align: center;
    word-wrap: break-word;
  }

  // ICONS

  .header--icons {
    @include svg--a(0.5rem 2rem, 3rem, $hlColor-1_1, $hlColor-1_2);
    @include drop--shadow;
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: 2em;
    top: 20px;
    right: 0;
    height: 2em;
  }

  .header--down--arrow {
    @include svg--a(0.5rem 2rem, 4rem, $hlColor-1_1, $hlColor-1_2);
    @include drop--shadow;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 1em;
  }

  .rr--logo {
    position: absolute;
    background: white;
    bottom: 1.5rem;
    right: 2rem;
    width: 200px;
    margin: 0;
    padding: 0.5rem;
    border-radius: 0;
  }
}

.main--header {
  background: url("../../Images/house--bg.jpeg");
}

.header--bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  position: relative;
  box-shadow: 0px 5px 5px 0px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.65);
    z-index: -1;
  }

  &::after {
    clip-path: polygon(0 100, 100% 0, 100% 100%, 0 100%);
    top: 0;
    height: 100%;
    width: 100%;
  }
}
