.header--disp--ptn {
  display: grid;
  position: relative;

  grid-template-columns: 30% auto auto 30%;
  grid-template-rows: 2rem repeat(3, min-content) 3rem;
  grid-template-areas:

    "...... ......     ...... ......"
    "...... title      img    ......"
    "...... translate  img    ......"
    "...... text       text   ......"
    "...... ......     ...... ......";

  #header--title {
    grid-area: title;
  }

  #header--translate {
    grid-area: translate;
  }

  #header--img {
    grid-area: img;
  }

  #header--text {
    grid-area: text;

  }
}

header {
  z-index: 3;

  p {
    font-size: 1.3em;
    color: $cEgg-1;
    margin: 0;
  }

  a {
    font-weight: bold;
  }

  #header--title {
    font-size: 6rem;
    margin: 0;
    padding: 1rem;
  }

  #header--translate {
    display: inline-block;
    padding: 1rem;

    a {
      @include anchor($cWhiteD-2, $cCamel-4);
    }
  }

  #header--img {
    margin: auto 1rem -0.02rem 1rem;
  }

  #header--text {
    display: inline;
    padding: 2em 3em 4em;
  }

  // ICONS

  .header--icons {
    @include svg--a(.5rem 2rem, 2.5rem, $cCamel-4, $cWhiteD-2);
    @include drop--shadow;
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: 2em;
    top: 200px;
    right: 0;
  }

  .header-icons-sm {
    @include svg--a(0 .5rem, 3rem, $cCamel-4, $cWhiteD-2);
    @include drop--shadow;

    display: inline;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 1rem;
    font-size: 6rem;
  }

  .rr--logo {
    position: absolute;
    background: white;
    bottom: 1.5rem;
    right: 2rem;
    width: 200px;
    margin: 0;
    padding: 0.5rem;
  }
}

.header--bg {
  background: url("../../Images/house--bg.jpeg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  position: relative;
  box-shadow: 0px 5px 5px 0px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.65);
    z-index: -1;
  }


  &::after {
    clip-path: polygon(0 100, 100% 0, 100% 100%, 0 100%);
    top: 0;
    height: 100%;
    width: 100%;
  }
}