@import "../0-helpers/variables";

#upper--nav {
  position: sticky;
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 5px 10px 0px black;
  top: 0;
  z-index: 10;
  color: $cCamel-4;
  background: $cBlue linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  font-size: 1em;
  padding: 1em;

  a {
    @include anchor();
    margin-right: 1em;
  }
}

#top--nav {
  background: $cBlue linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  position: sticky;
  top: 51px;
  bottom: 0;
  box-shadow: 0px 5px 10px 0px;
  z-index: 2;
  height: 80px;

}

#main--nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  height: 80px;

  .gkg {
    position: relative;
    font-size: 2.8em;
    top: -1.6em;
    margin: 0;

    a {
      @include anchor($cCafe-5, $cWhiteD-2);
      padding: 0;
    }
  }

  ul {
    display: flex;
    flex: 2;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
  }

  li {
    list-style: none;
    margin: 0.6em;

    a {
      @include anchor();
      font-size: 1em;
    }

    .buy {
      font-size: 1.5em;
      font-weight: 500;
      font-style: italic;
      position: relative;
    }

    .sell {
      font-size: 1.5em;
      font-weight: 500;
      font-style: italic;
      position: relative;
    }
  }
}

#bottom--nav {
  @include svg--a(2rem, 3rem, $cCamel-4, $cWhiteD-2);
  position: relative;
  display: inline-flex;
  justify-self: flex-end;
  position: sticky;
  bottom: 0;
  margin-bottom: -80px;
  z-index: 10;

}