@import "../0-helpers/_variables";

section {
  height: fit-content;
  position: relative;
}

.screen {
  display: grid;
  grid-template-columns: 10vw 80vw 10vw;
  margin-bottom: -180px;
  margin-top: -80px;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   background: rgb(211, 42, 42);
  //   width: 60px;
  //   height: 60px;
  //   left: 0px;
  //   right: 0px;
  //   margin: -1.5rem auto;
  //   bottom: -1rem;
  // }
}